{% extends 'base.html' %}
{% load static %}

{% block title %}Tarjimai Hol - Xadicha Sulaymonova{% endblock %}

{% block content %}
<section id="biography" class="about" style="padding-top: 120px; background-color: #fff;">
    <div class="container">
        <h2 class="section-title fade-in">Tarjimai Hol</h2>
        {% if biography %}
        <div class="about-content">
            <div class="about-image slide-in-left" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/%D0%A1%D1%83%D0%BB%D0%B0%D0%B9%D0%BC%D0%B0%D0%BD%D0%BE%D0%B2%D0%B0_%D0%A5%D0%B0%D0%B4%D0%B8%D1%87%D0%B0.png/960px-%D0%A1%D1%83%D0%BB%D0%B0%D0%B9%D0%BC%D0%B0%D0%BD%D0%BE%D0%B2%D0%B0_%D0%A5%D0%B0%D0%B4%D0%B8%D1%87%D0%B0.png');"></div>
            <div class="about-text slide-in-right">
                <h3>{{ biography.title }}</h3>
                <p>{{ biography.content|linebreaks }}</p>
            </div>
        </div>
        {% else %}
        <div class="text-center">
            <p>Tarjimai hol haqida ma'lumot topilmadi.</p>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
